.work {
  .company-box {
    border: ($base-rhythm / 4) solid $color-career-border-background;
    display: table;
    margin: 0 0 set-rhythm();
    table-layout: fixed;
    width: 100%;

    aside {
      background: $color-career-aside-background;
      border-left: ($base-rhythm / 4) solid $color-career-border-background;
      display: table-cell;
      padding: ($base-rhythm / 2) set-rhythm();
      vertical-align: top;
      width: set-rhythm(25);

      .title {
        border-bottom: ($base-rhythm / 4) solid $color-career-title-border;
        color: $color-career-title-font;
        display: block;
        font: 300 14px/18px Lato, arial, helvetica, sans-serif;
        margin: 0 0 set-rhythm();
        padding: set-rhythm() 0;
        text-align: center;

        i {
          color: $color-career-time-font;
        }
      }

      .time {
        color: $color-career-time-font;
        text-align: center;
      }

      .technologies {
        color: $color-career-time-font;
        font-size: 12px;
        margin-top: set-rhythm();
        text-align: justify;
      }

      .table {
        display: table;
        margin: 0 0 set-rhythm();
        table-layout: fixed;
        text-transform: capitalize;
        width: 100%;

        .cell {
          display: table-cell;
          vertical-align: middle;

          .text {
            color: $color-career-time-font;
            display: block;
            font: 700 13px/14px Lato, arial, helvetica, sans-serif;
          }

          .circle-box {
            border: ($base-rhythm / 4) solid $color-career-circle;
            border-radius: 60%;
            color: $color-career-circle;
            display: inline-block;
            font: 300 28px/54px Lato, arial, helvetica, sans-serif;
            height: set-rhythm(7);
            letter-spacing: -($base-rhythm / 4);
            margin-left: set-rhythm(2);
            padding: 0 ($base-rhythm / 4) 0 0;
            position: relative;
            text-align: center;
            vertical-align: middle;
            width: set-rhythm(7);
          }
        }

        &:first-child {
          width: set-rhythm(9);
        }
      }
    }

    .holder {
      color: $color-career-holder-font;
      display: table-cell;
      font-size: 14px;
      line-height: set-rhythm(3);
      padding: set-rhythm(2) set-rhythm(3);
      position: relative;
      vertical-align: top;

      .counter {
        background: $color-career-counter-background;
        border-bottom-left-radius: set-rhythm(3);
        border-top-left-radius: set-rhythm(3);
        box-shadow: inset -8px 0 8px -8px $color-counter-shadow;
        color: $color-white;
        font: bold 20px/40px helvetica;
        height: set-rhythm(6);
        margin: 0;
        opacity: .4;
        padding: ($base-rhythm / 2);
        position: absolute;
        right: 100%;
        text-align: center;
        top: ($base-rhythm / 2);
        width: set-rhythm(4);
      }

      > h5 {
        font-size: 16px;
        margin: 0 0 set-rhythm(2);
        position: relative;
      }

      > p {
        margin: set-rhythm() 0;
      }

      .list {
        color: $color-list-font;
        font-size: 14px;
        line-height: set-rhythm(3);
        margin: set-rhythm() 0;
        padding: 0;
      }
    }
  }
}
