.cv {
  background: $color-white;
  border-left: 1px solid $color-cv-border;
  font-size: 14px;
  line-height: 21px;
  max-height: 100%;
  overflow: auto;
  padding: set-rhythm(5) set-rhythm(7);
  position: relative;
  transition: margin .2s;
  width: 100%;
  z-index: 1;

  &.left {
    margin-left: set-rhythm(16);
  }

  .wrapper {
    max-width: set-rhythm(180);
    position: relative;
    margin: 0 auto;

    h1 {
      font-size: 24px; 
      line-height: 1.2;
    }

    ul {
      padding: 0;

      li {
        color: $color-list-font;
        font-size: 14px;
        line-height: 21px;
      }
    }

    .tags {
      @import 'tags';

      margin-left: $base-rhythm / 2 * -1;
      max-width: set-rhythm(100);
    }

    section {
      margin-bottom: set-rhythm(2);

      &.experience {
        @import 'career';

        .project-info {
          background-color: $color-career-aside-background;
          border: 1px solid $color-cv-project-info-border;
          font-size: 12px;
          margin-bottom: set-rhythm(2);
          margin-top: ($base-rhythm / 2);
          padding: set-rhythm();

          h3 {
            font-size: 14px;
            line-height: 1.2;
            margin: 0;
          }

          p {
            margin: 0;
          }
        }

        .about-project {
          font-size: 10px;
          position: relative;
          top: -($base-rhythm / 4);
        }
      }

      &.lang {
        position: absolute;
        top: set-rhythm(-3);
        left: set-rhythm(7);
        
        > span {
          cursor: pointer;
          font-size: 20px;
          color: #ccc;
        }
      }

      &.contacts {
        > div {
          padding: set-rhythm(.5) 0;
        }
      }

      &.personal {
        display: flex;
        align-items: center;
        position: relative;

        img {
          margin: 0 set-rhythm();
          border-radius: 100px;
          border: set-rhythm(.5) solid $color-career-border-background;
          box-shadow: 0 0 set-rhythm() $color-career-border-background;
        }

        h1 {
          display: inline-block;
          position: relative;

          .position {
            color: $color-cv-age;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.4;
            margin-top: set-rhythm(.5);
          }

          .age {
            color: $color-cv-age;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }

      &.education {
        .block {
          h5 {
            font-weight: normal;
            margin-top: set-rhythm();
          }
        }
      }

      h5,
      ul {
        margin: ($base-rhythm / 4) 0;
      }

      > h5 {
        color: $color-cv-h5-font;
        font-size: 18px;
        margin: set-rhythm() 0;
      }
    }
  }
}
