<div class="holder">
  <span class="counter">2</span>
  <h5>{{ title }}</h5>
  <p>{{ description }}</p>

  <div>
    {{ achievements }}:
  </div>
  <ul class="list">
    <li>{{ a1 }}</li>
    <li>{{ a2 }}</li>
    <li>{{ a3 }}</li>
    <li>{{ a4 }}</li>
    <li>{{ a5 }}</li>
    <li>{{ a6 }}</li>
    <li>{{ a7 }}</li>
    <li>{{ a8 }}</li>
    <li>{{ a9 }}</li>
  </ul>
</div>

<aside>
  <span class="title">
    <a href="http://convergent-usa.com/" rel="nofollow noopener noreferrer" target="_blank">Convergent Media Group</a>
    <br>
    <i>{{ place }}</i>
  </span>

  <div class="table">
    <div class="cell">
      <div class="circle-box">2.8</div>
    </div>
    <div class="cell">
      <span class="text">{{ years }}</span>
    </div>
  </div>

  <div class="time">
    06.2010 - 02.2013
  </div>

  <div class="technologies" title="{{ stack }}">
    <i>PHP, CakePHP, Yii, C#, ASP.NET, JavaScript, CSS, HTML, jQuery, mysql, PostgreSql, nginx, Redmine, svn, git</i>
  </div>
</aside>
