<div>
  <b>{{ skype }}:</b> <a href="skype:creastar-group?call">creastar-group</a>
</div>
<div>
  <b>{{ email }}:</b> <a href="mailto:creastar@gmail.com">creastar@gmail.com</a>
</div>
<div>
  <b>{{ phone }}:</b> <a href="callto://+79131519143">+7 (913) 151-91-43</a>
</div>
<div>
  <b>{{ github }}:</b> <a href="https://github.com/Zlobin" rel="nofollow noopener noreferrer" target="_blank">https://github.com/Zlobin</a>, <a href="https://github.com/InitialByte" rel="nofollow noopener noreferrer" target="_blank">https://github.com/InitialByte</a>
</div>
