<div class="holder">
  <span class="counter">5</span>
  <h5>{{ title }}</h5>
  <p>{{ description }}</p>

  <div>
    {{ achievements }}:
  </div>
  <ul class="list">
    <li>{{ a1 }}</li>
    <li>{{ a2 }}</li>
    <li>{{ a3 }}</li>
    <li>{{ a4 }}</li>
    <li>{{ a5 }}</li>
    <li>{{ a6 }}</li>
    <li>{{ a7 }}</li>
    <li>{{ a8 }}</li>
    <li>{{ a9 }}</li>
  </ul>
</div>

<aside>
  <span class="title">
    <a href="https://www.detmir.ru/" rel="nofollow noopener noreferrer" target="_blank">Detmir</a>
    <br>
    <i>{{ place }}</i>
  </span>

  <div class="table">
    <div class="cell">
      <div class="circle-box" id="job-detmir">X</div>
    </div>
    <div class="cell">
      <span class="text">{{ years }}</span>
    </div>
  </div>

  <div class="time">
    10.2020 - {{ now }}
  </div>

  <div class="technologies" title="{{ stack }}">
    <i>JavaScript, NodeJS, nginx, docker, wepback, hybris, git, kubernetes, react, redux, JIRA, cypress, gitlab, express, grafana, kibana</i>
  </div>
</aside>
