<div class="holder">
  <span class="counter">1</span>
  <h5>{{ title }}</h5>
  <p>{{ description }}</p>

  <div>
    {{ achievements }}:
  </div>
  <ul class="list">
    <li>{{ a1 }}</li>
    <li>{{ a2 }}</li>
    <li>{{ a3 }}</li>
  </ul>
</div>

<aside>
  <span class="title">
    <a href="https://finistcom.kz/" rel="nofollow noopener noreferrer" target="_blank">{{ name }}</a>
    <br>
    <i>{{ place }}</i>
  </span>

  <div class="table">
    <div class="cell">
      <div class="circle-box">2.1</div>
    </div>
    <div class="cell">
      <span class="text">{{ years }}</span>
    </div>
  </div>

  <div class="time">
    04.2008 - 05.2010
  </div>

  <div class="technologies" title="{{ stack }}">
    <i>PHP, Kohana, Apache, JavaScript, CSS, HTML, jQuery, MySql, WordPress, Joomla</i>
  </div>
</aside>
