<div class="holder">
  <span class="counter">3</span>
  <h5>{{ title }}</h5>
  <p>{{ description }}</p>

  <div>
    {{ achievements }}:
  </div>
  <ul class="list">
    <li>{{ a1 }}</li>
    <li>{{ a2 }}</li>
    <li>{{ a3 }}</li>
    <li>{{ a4 }}</li>
    <li>{{ a5 }}</li>
    <li>{{ a6 }}</li>
    <li>{{ a7 }}</li>
    <li>{{ a8 }}</li>
    <li>{{ a9 }}</li>
    <li>{{ a10 }}</li>
  </ul>
</div>

<aside>
  <span class="title">
    <a href="http://nitka.com/" rel="nofollow noopener noreferrer" target="_blank">Nitka Technologies, Inc.</a>
    <br>
    <i>{{ place }}</i>
  </span>

  <div class="table">
    <div class="cell">
      <div class="circle-box" id="job-nitka">6.8</div>
    </div>
    <div class="cell">
      <span class="text">{{ years }}</span>
    </div>
  </div>

  <div class="time">
    07.2012 - 05.2019
  </div>

  <div class="technologies" title="{{ stack }}">
    <i>JavaScript, Backbone, Marionette, React, Redux, GraphQL, Apollo, Underscore, jQuery, JavaScriptMVC, eslint, Ionic, Angular2, QUnit, grunt, gulp, mocha, chai, sinon, HTML5, PHP, Symfony, Doctrine, Drupal 7.x, composer, Solr, mysql, MSSQL, REST API, TDD, JIRA, git, Ubuntu, github, AWS</i>
  </div>
</aside>
