<div class="holder">
  <span class="counter">4</span>
  <h5>{{ title }}</h5>
  <p>{{ description }}</p>

  <div>
    {{ achievements }}:
  </div>
  <ul class="list">
    <li>{{ a1 }}</li>
    <li>{{ a2 }}</li>
    <li>{{ a3 }}</li>
    <li>{{ a4 }}</li>
    <li>{{ a5 }}</li>
    <li>{{ a6 }}</li>
    <li>{{ a7 }}</li>
    <li>{{ a8 }}</li>
    <li>{{ a9 }}</li>
  </ul>
</div>

<aside>
  <span class="title">
    <a href="https://www.vtb.ru/" rel="nofollow noopener noreferrer" target="_blank">VTB</a>
    <br>
    <i>{{ place }}</i>
  </span>

  <div class="table">
    <div class="cell">
      <div class="circle-box" id="job-vtb">X</div>
    </div>
    <div class="cell">
      <span class="text">{{ years }}</span>
    </div>
  </div>

  <div class="time">
    05.2019 - {{ now }}
  </div>

  <div class="technologies" title="{{ stack }}">
    <i>JavaScript, TypeScript, Flow, react, redux, redux-form, reselect, webpack, eslint, JIRA, git, Kubernetes, Docker, nginx, storybook, websocket, yarn2, jest, nodejs, kafka, SwaggerApi, linux, git, gerrit, CI\CD</i>
  </div>
</aside>
